# U.S. Medical Insurance Costs
This portfolio project has been done by RACHEL LEE.
### Introduction
This document shows the summary and analysis of the medical insurance costs with various demographics (age, sex, BMI, number of children, smoking status, and location). The analysis includes the observation of each demographic against medical insurance costs and examines the trends on the graphs.
### Data and Demographics
This project used the provided csv file "insurance.csv" for analysis. The file has been downloaded from the following link.

https://www.kaggle.com/mirichoi0218/insurance

With the csv file downloaded, the data have been analyzed using python. First, the pandas module was imported to use the dataframe structure for easier data management.

In [3]:
import pandas as pd

Using the pandas module, the data in "insurance.csv" can be imported to the code.

In [6]:
pd.read_csv("insurance.csv")

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

As in the output, the columns include the following variables: age, sex, bmi, children, smoker, region, and charges. The